<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Order: #<%= invoice.receiptNo %>
    </title>
    <style>
        * {
            margin: 0;
            padding: 0
        }

        :root {
            font-family: "Fira Sans", sans-serif;
            box-sizing: border-box;
            font-size: 10px;

        }

        body,
        html {
            margin: 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
        }

        th {
            padding: 5px 2px;
            text-align: left;
            font-size: 10px;
        }

        td {
            padding: 2px 2px;
            text-align: left;
            font-size: 10px;
        }


        th:nth-child(1),
        td:nth-child(1) {
            padding-left: 0;
        }

        @page {
            size: 80mm 120mm;
            margin: 0;
        }
    </style>
    <% const formatter=new Intl.NumberFormat("en-IN", { style: "currency" , currency: invoice.restaurant.currency
        || "INR" }); const moment=locals.moment; %>
</head>

<body>
    <div style="padding:0px">
        <div style="text-align: center;">
            <h3 style="margin:0; font-size: 12px;">
                <%= invoice.restaurant.name %>
            </h3>
            <p style="margin:0;  margin-top: 0px">
                <%= invoice.restaurant.address %><br />
                    Mob: <%= invoice.restaurant.phone %>
            </p>
        </div>
        <table style="font-weight: bold; width: 100%; margin-top: 8px; ">
            <tr>
                <td>RECEIPT NO: #<%= invoice.receiptNo %>
                </td>
                <td style="text-align: right;">DATE: <%= moment(invoice.createdAt).format("DD/MM/YYYY") %>
                </td>
            </tr>
        </table>
        <div>
            <table style="border-collapse: collapse; margin: 10px 0; width:100%; font-size: 14px;">
                <thead>
                    <tr style="border-bottom: 1px dashed #000; border-top: 1px dashed #000;">
                        <th>DESCRIPTION</th>
                        <th style="text-align: right;"></th>
                        <th style="text-align: right;">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                    <% for(const item of invoice.items ?? []){ %>
                        <React.Fragment key={`order-item-${item.id}`}>
                            <tr>
                                <td>
                                    <%= item.name %>
                                </td>

                                <td style="text-align: right; width: 0; white-space: nowrap;">
                                    <%= item.price %> x <%= item.quantity %>
                                </td>
                                <td style="text-align: right; width: 0;">
                                    <%= item.amount %>
                                </td>
                            </tr>
                        </React.Fragment>
                        <%}%>
                </tbody>
            </table>

            <div style="margin: 10px 0;border-top: 1px dashed #000; "></div>

            <table style="width: 100%; font-weight: bold;">

                <% if(invoice.tax || invoice.discount){ %>
                    <tr>
                        <td>SUBTOTAL:</td>
                        <td style="text-align: right;">
                            <%= formatter.format(invoice.subTotal)%>
                        </td>
                    </tr>
                    <% } %>

                        <% if(invoice.tax){ %>
                            <tr>
                                <td>TAX:</td>
                                <td style="text-align: right;">
                                    <%= formatter.format(invoice.tax)%>
                                </td>
                            </tr>
                            <% } %>

                                <% if(invoice.discount){ %>
                                    <tr>
                                        <td>DISCOUNT:</td>
                                        <td style="text-align: right;">
                                            <%= formatter.format(invoice.discount)%>
                                        </td>
                                    </tr>
                                    <% } %>

                                        <tr>
                                            <td>TOTAL:</td>
                                            <td style="text-align: right;">
                                                <%= formatter.format(invoice.amount)%>
                                            </td>
                                        </tr>
            </table>
        </div>
        <% if(order.kotList.length){%>
            <div style="margin: 8px 0; text-align: center;">
                <span>
                    KOT: <%= order.kotList.map(kot=>kot.tokenNo).join(",") %>
                </span>
            </div>
            <% } %>
                <div style="margin: 8px 0; text-align: center;">
                    <span>
                        ☺ THANK YOU VISIT AGAIN!
                    </span>
                </div>
    </div>
</body>

</html>